<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Re-kailum</a>
    <form class="d-flex-justify-content-center">
      <a class="btn btn-outline-success" href="/course/create">Register Course</a>
      <a class="btn btn-outline-secondary " href="/me/stored/courses">My Courses</a>
      <a class="btn btn-outline-info" href="/me/stored/edit">Edit My Courses</a>
      <button type="submit" class="btn btn-primary">logout </button>
    </form>
  </div>
</nav>