<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <a class="btn btn-outline-success" href="/course/create">Register Course</a>
    </form>
  </div>
</nav>